.header_container .header_card{
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    margin: 0px 40px 20px 40px;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    background-color: whitesmoke;
    border-radius: 20px;
    
}
.header_container .header_card img{
    width: 30px;
    margin-right: 10px;
}

.header_container .header_card .header_left{
    display: flex;
    align-items: center;
}

.header_container .header_card .logOut_btn{
    padding: 5px 15px;
    background-color: red;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color: white;
    border-radius: 25px;
}