
.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(104, 98, 98, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    text-align: left;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
  }
  
  .login-box label{
    font-size: 18px;
    font-weight: 600;
    
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    /* background: transparent; */
  }
  

  .login-box .button{
      text-decoration: none;
      background-color: brown;
      border-radius: 5px;
      padding: 10px 20px;
      margin-top: 20px;
      color: white ;
      border: 0.5px solid brown  ;
      cursor: pointer;
  }

 
  
  @media only screen and (max-width: 767px){
    .login-box {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 300px;
      padding: 40px;
      transform: translate(-50%, -50%);
      background: rgba(104, 98, 98, 0.5);
      box-sizing: border-box;
      box-shadow: 0 15px 25px rgba(0,0,0,.6);
      border-radius: 10px;
      text-align: left;
    }
  }